name: Terraform Central Pipeline
 
on:
  workflow_dispatch:
 
jobs:
  terraform:
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v4
 
      - uses: actions/checkout@v4
        with:
          repository: aman8716/EC2_S3_Terraform
          token: ${{ secrets.INFRA_REPO_TOKEN }}
          path: terraform
 
      - uses: hashicorp/setup-terraform@v3
 
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
 
      - name: Debug AWS credentials
        run: |
          env | grep AWS
          aws sts get-caller-identity
 
      - name: Terraform Init
        run: terraform init
        working-directory: terraform
        run: terraform apply -auto-approve
        working-directory: terraform
